**/__pycache__
**/.ipynb_checkpoints
**/.DS_store
**/scoring-dev
**/scoring-np
**/evaluation_results/
**/evaluation_output/
**/affinities.json
**/prediction_metadata.json
**/structure_0.cif
**/*.BAK
scoring/cdk_inhibitors_dataset copy.csv
cdk_inhibitors_dataset.csv
scoring/chembl_data/chembl_compounds.db
scoring/chembl_data/chembl_35_chemreps.txt
scoring/chembl_data/chembl_fingerprints.pkl
